body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #242424; /* dark background color */
  }

  .landing-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: url(../../public/landing-bg.png);
    background-position: center;
  }
  
  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    width: 100vw;
  }
  
  .landing-container label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .landing-container input[type="text"],
  .landing-container input[type="password"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #007bff;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .landing-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .landing-login {
    z-index: 1;
  }